@define-color background rgba(0, 0, 14, 0.6);
@define-color background-solid rgba(0, 0, 14, 0.95);
@define-color accent #7186fd;
@define-color foreground #c7efe3;

* {
    background-color: transparent;
}
window#waybar {
    background-color: @background;
}

#taskbar button{
    padding: 0px 4px 0px 4px;
}
tooltip{
    background-color: @background-solid;
    border-radius: 6px;
    border: 1px solid @accent;
}

#tray menu {
    background-color: @background-solid; 
    border: 1px solid;
    border-color: @accent;
    border-radius: 4px;
}
#tray menu menuitem:hover {
    background-color: @accent; /* Hover background color */
    color: @background-solid;            /* Text color on hover */
}
#tray menu menuitem:hover label{
    color: @background-solid;
}

#tray menu menuitem:hover box{
    background-color: @background-solid;
    color: @foreground;
}

#taskbar{
    margin-left: 12px;
}
#custom-expandright-icon {
  margin-left: 12px;
}
