themes {
    current {
        text_unselected {
            base 199 239 227
            background 95 97 103
            emphasis_0 255 104 131
            emphasis_1 58 234 255
            emphasis_2 51 240 192
            emphasis_3 199 166 255
        }
        text_selected {
            base 199 239 227
            background 95 97 103
            emphasis_0 255 104 131
            emphasis_1 58 234 255
            emphasis_2 51 240 192
            emphasis_3 199 166 255
        }
        ribbon_selected {
            base 95 97 103
            background 51 240 192
            emphasis_0 255 111 143
            emphasis_1 255 104 131
            emphasis_2 199 166 255
            emphasis_3 92 183 255
        }
        ribbon_unselected {
            base 95 97 103
            background 199 239 227
            emphasis_0 255 111 143
            emphasis_1 199 239 227
            emphasis_2 92 183 255
            emphasis_3 199 166 255
        }
        table_title {
            base 51 240 192
            background 0
            emphasis_0 255 104 131
            emphasis_1 58 234 255
            emphasis_2 51 240 192
            emphasis_3 199 166 255
        }
        table_cell_selected {
            base 199 239 227
            background 95 97 103
            emphasis_0 255 104 131
            emphasis_1 58 234 255
            emphasis_2 51 240 192
            emphasis_3 199 166 255
        }
        table_cell_unselected {
            base 199 239 227
            background 95 97 103
            emphasis_0 255 104 131
            emphasis_1 58 234 255
            emphasis_2 51 240 192
            emphasis_3 199 166 255
        }
        list_selected {
            base 199 239 227
            background 95 97 103
            emphasis_0 255 104 131
            emphasis_1 58 234 255
            emphasis_2 51 240 192
            emphasis_3 199 166 255
        }
        list_unselected {
            base 199 239 227
            background 95 97 103
            emphasis_0 255 104 131
            emphasis_1 58 234 255
            emphasis_2 51 240 192
            emphasis_3 199 166 255
        }
        frame_selected {
            base 51 240 192
            background 0
            emphasis_0 255 104 131
            emphasis_1 58 234 255
            emphasis_2 199 166 255
            emphasis_3 0
        }
        frame_highlight {
            base 255 104 131
            background 0
            emphasis_0 199 166 255
            emphasis_1 255 104 131
            emphasis_2 255 104 131
            emphasis_3 255 104 131
        }
        exit_code_success {
            base 51 240 192
            background 0
            emphasis_0 58 234 255
            emphasis_1 95 97 103
            emphasis_2 199 166 255
            emphasis_3 92 183 255
        }
        exit_code_error {
            base 255 111 143
            background 0
            emphasis_0 255 209 102
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 199 166 255
            player_2 92 183 255
            player_3 0
            player_4 255 209 102
            player_5 58 234 255
            player_6 0
            player_7 255 111 143
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
